/*
font-family:'Clarendon BT W01 Roman';
font-family:'Clarendon BT W01 Heavy';
font-family:'Clarendon BT W01 Bold';
font-family:'DINNextW01-CondensedBol';
font-family:'DINNextW01-CondensedMed';
font-family:'MundoSansW01-ExtraLight 734841';
font-family:'MundoSansW01-ExtraLight 734844';
font-family:'Mundo Sans W01 Light';
font-family:'MundoSansW01-LightItali';
font-family:'Mundo Sans W01';
font-family:'Mundo Sans W01 Italic';
font-family:'Mundo Sans W01 Medium';
font-family:'MundoSansW01-MediumItal';
font-family:'Mundo Sans W01 Bold';
font-family:'MundoSansW01-BoldItalic';
font-family:'Mundo Sans W01 Black';
font-family:'MundoSansW01-BlackItali';
font-family:'Mundo Sans W01 Ultra';
font-family:'MundoSansW01-UltraItali';
*/

$headline:		'Clarendon BT W01 Roman', slab-serif;
$sans-serif: 	'Mundo Sans W01', arial, sans-serif;
$condensed :  	'DINNextW01-CondensedBol' , impact, arial, sans-serif;
