
<footer>
	<small>&copy; 2013 Brian Maier Jr. | <a href="">Steal this theme!</a>
		| <a href="#colophon">Colophon</a></small>

	<div class="social">
		<a href="/"><span class="icon-linkedin"></span></a>
		<a href="/"><span class="icon-twitter"></span></a>
		<a href="/"><span class="icon-github"></span></a>
		<a href="/"><span class="icon-dribbble"></span></a>
	</div>
</footer>

 <script src="{{ site.url }}/assets/js/socialcount.js"></script>
 <script src="{{ site.url }}/assets/js/jquery.fittext.js"></script>
<script>
  jQuery("#fittext").fitText(1.2, { minFontSize: '30px', maxFontSize: '100px' });
</script>

</body>
</html>