<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{{ page.tags | join: ', ' }}">

  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 120  }}{% else %}{{ page.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:image" content="{% if page.image %}{{ page.image}}{% else %}http://brianmaierjr.com/assets/img/blog-portfolio-small.jpg{% endif %}">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
  
  <!-- Come and get me RSS readers! -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml" /> 

  <!-- For all browsers -->
  <link rel="stylesheet" href=" http://brianmaierjr.github.com/frameset/assets/css/style.css">

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-160x160.png" sizes="160x160" />
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16" />
  <meta name="msapplication-TileColor" content="#5f9ea0" /> 
  <meta name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png" />

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-30261260-1', 'brianmaierjr.com');
    ga('send', 'pageview');
  </script> 

</head>

<body class="{{ page.class }}"> 

  <nav role="navigation" id="mainNav">
    <a href="#" class="closeBtn"><span class="icon-cross"></span></a>
    <div id="navContainer">
      <h2>Table of Contents</h2>  
      <ul id="siteNav">
        <li><a href="/">01. Home</a></li>
        {% for link in site.links %} 
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %} 
        <li>
          <ul class="social">
              <li><a href="http://twitter.com/brianmaierjr"><span class="icon-twitter"></span></a></li>
              <li><a href="http://github.com/brianmaierjr"><span class="icon-github"></span></a></li>
              <li><a href="http://dribbble.com/brianmaierjr"><span class="icon-dribbble"></span></a></li>
              <li><a href="http://inspiration.brianmaierjr.com"><span class="icon-tumblr"></span></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

	<header class="header">
    <h1 id="logo"><a href="/"><span class="icon-logo"></span></a></h1>
    <a href="#mainNav" id="menuBtn"><span class="icon-list"></span></a>
	</header>

