<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{{ page.tags | join: ', ' }}">

  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 120  }}{% else %}{{ page.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.title }}">

  <!-- Fonts from fonts.com -->
  <script type="text/javascript" src="http://fast.fonts.net/jsapi/947e7bba-84ee-439f-8b3b-67918847d425.js"></script>

  <!-- For all browsers -->
  <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
  <!-- Fresh Squeezed jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  <!-- Icons -->

</head>

<body>

	<header>

    <h1 id="logo"><a href="/">Brian Maier Jr.</a></h1>
        <nav role="navigation">
          <ul>
            {% for link in site.links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
	</header>