/* TYPOGRAPHY ------------------------------------------------
------------------------------------------------------------*/

html {
	font-size: 125%; /* 20px */
}

.post-content {
	p:first-of-type:first-letter {
		font-size: 3em;
		float: left;
		padding: .25em .1em 0 0;
	}
}