/* NAVIGATION ------------------------------------------------
------------------------------------------------------------*/

#mainNav {
	#navContainer {
		h2 {
			font-size: 2.66667em;
			max-width: 600px;
		}

		#siteNav { max-width: 600px; }
	}
}


/* POST STYLES ------------------------------------------------
------------------------------------------------------------*/

.post-content {
	@include span-columns(8);
	@include shift(2);
}

.post {
	#container {
		width: 80%;
		max-width: 80%;
	}
}

.content {
	@include span-columns(8);
	@include shift(2);
}

/* HOME ------------------------------------------------
------------------------------------------------------------*/

html {
	.home {
		.intro {
			.introText {
				h1 { font-size: 6em; }
				h2 { font-size: 2.66667em; }
				h3 { font-size: 1.75em; }
			}
		}
	}
}


/* ABOUT ------------------------------------------------
------------------------------------------------------------*/

.about {
	.content {
		h1 {
			font-size: 3.33333em;
		}
	}
}


