/* TYPOGRAPHY ------------------------------------------------
------------------------------------------------------------*/

html {
	font-size: 112.5%; /* 18px */
}



/* NAVIGATION ------------------------------------------------
------------------------------------------------------------*/

#mainNav {
	#navContainer {
		h2 {
			font-size: 2.66667em;
			max-width: 600px;
		}

		#siteNav {
			max-width: 600px;

			li {
				font-size: 1.5em;
			}

			.social {
				margin-top: -.15em;

				li {
					font-size: 1.5em;

					&:hover span { color: white; }
				}
			}
		}
	}
}


/* BLOG INDEX ------------------------------------------------
------------------------------------------------------------*/

.blog {

}


/* POST STYLES ------------------------------------------------
------------------------------------------------------------*/

.post-content {
	@include span-columns(8);
	@include shift(2);

	p {
		&:first-of-type {
			font-size: 1.5rem;
		}
	}
}

.post {
	#container {
		width: 80%;
		max-width: 80%;
	}
}

.content {
	@include span-columns(8);
	@include shift(2);
}


/* HOME ------------------------------------------------
------------------------------------------------------------*/

html {
	.home {
		/* background: url('../img/home-big.jpg') center; */
		background-size: cover;

		.intro {
			.introText {
				h1 { font-size: 6em; }
			}
		}
		
		#craftsman {

			.aboutText {
				p {
					@include span-columns(6);
					float: left;
				}
			}

			.intro {
				margin-bottom: 3em;
			}

			.intro, .aboutText {
				max-width: 1140px;
				margin: 1em auto;
			}
		}

		#dribbble {

			#portfolio {
				li {
					width: 33%;
					float: left;
					margin: 0;

					img {
						display: block;
					}
				}
			}

			.dribbbleText {
				@include span-columns(12);
			}
		}
	}
}


/* ABOUT ------------------------------------------------
------------------------------------------------------------*/

.about {
	.featured-image {
		min-height: 500px;
	}
	#container {
		margin-top: 500px;
		
	}
	.content {
		h1 {
			font-size: 3.33333em;
		}
	}
}


/* POSTSTYLES ------------------------------------------------
------------------------------------------------------------*/

/* Post with an image */

.post-image {

	#container {
		margin-top: 350px;
	}

	.featured-image { min-height: 400px; }
}


/* FOOTER ------------------------------------------------
------------------------------------------------------------*/

footer {
	.copyright {
		@include span-columns(3);

		.social {
			float: left; 
			margin-top: .5em;
		}
	}

	.colophon {
		@include span-columns(9); 
	}
}

