.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}@-webkit-keyframes slideInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes slideInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}
	
	100% {
		-moz-transform: translateX(0);
	}
}

@-o-keyframes slideInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}
	
	100% {
		-o-transform: translateX(0);
	}
}

@keyframes slideInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}
	
	100% {
		transform: translateX(0);
	}
}

.slideInLeft {
	-webkit-animation-name: slideInLeft;
	-moz-animation-name: slideInLeft;
	-o-animation-name: slideInLeft;
	animation-name: slideInLeft;
}


@keyframes slideInDown {
        0% {
                opacity: 0;
                transform: translateY(-2000px);
        }

        100% {
                transform: translateY(0);
        }
}

.slideInDown {
        animation-name: slideInDown;
        -webkit-animation-name: slideInDown;
		-moz-animation-name: slideInDown;
		-o-animation-name: slideInDown;
}


@keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
}

.fadeIn {
        animation-name: fadeIn;
		-webkit-animation-name: fadeIn;
		-moz-animation-name: fadeIn;
		-o-animation-name: fadeIn;
}

