/* GLOBAL ---------------------------------------------------
------------------------------------------------------------*/

/* apply a natural box layout model to all elements */
*, *:before, *:after { @include box-sizing(border-box); }

 ::selection {
 	color: white;
 	background: darkkhaki;
 }

 ::-moz-selection {
 	color: white;
 	background: darkkhaki;
 }

 blockquote {
 	font-family: $serif; 
 	font-style: italic;
 	margin: 1em .5em;
 	line-height: 2;
 	font-size: 1.3em; 
 	padding-left: 1em;
 	border-left: 5px solid darkkhaki;
 	color: $blue;
 }

body {
	background: white;
	color: $charcoal;
	font-family: $serif;

	#main {
		height: 100%;
		width: 100%;

		section {
			overflow-y: auto;
		}
	}

	p {
		color: $charcoal;
		line-height: 1.9;
	}

	a { 
		text-decoration: none;
		color: darken(darkkhaki, 15%);

		&:hover {
			text-decoration: underline;
			color: darkkhaki;
		}
	}

	ul, ol {
		margin: 0 0 2rem;

		li {
			margin-bottom: .5rem;
		}
	}

	#container {
		clear: both;
		padding: 100px 20px 40px;
		overflow: hidden;
		@include outer-container;

		img {
			max-width: 100%;
		}
	}
	
	.table {
		height: 100%;
		width: 100%;
		display: table;
	}

	.tableCell {
		display: table-cell;
		vertical-align: middle;
		height: 100%;
	}

	.intro {
		font-family: $sans-serif;
		font-weight: 300;
		font-size: 1.3rem;
		line-height: 1.6167;
	}
}


/* HEADER ---------------------------------------------------
------------------------------------------------------------*/

.header {
	overflow: hidden;
	padding: 0 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	z-index: 9999;

	&.slideDown.headroom--not-top {
		top: 0;
		background: $blue;
		position: fixed;

		#logo {
			margin-top: .4em;
			line-height: 1;
		}

		#menuBtn {
			margin-top: 0;
		}
	}

	&.slideUp {
		top: -300px;
	}

	a {
		@include transition(all 0.2s ease-in-out);

		&:hover {
			text-decoration: none;
			opacity: .6;
		}
	}

	#menuBtn {
		float: right;
		margin-top: .6em;
		font-size: 2em;
		color: white;
		text-shadow: 1px 1px 2px rgba(0,0,0,.4);
	}

	#logo {
		float: left;
		font-family: $sans-serif;
		font-weight: 100;
		text-transform: uppercase;
		font-weight: 200;
		font-size: 1.5em;
		margin-top: .5em;

		a {
			color: white;
			text-shadow: 1px 1px 2px rgba(0,0,0,.4);
		}

	}
}


/* NAVIGATION ------------------------------------------------
------------------------------------------------------------*/

#mainNav {
		display: table;
		bottom: 100%;
		opacity: 0;
		position: fixed;
		z-index: 99999;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.95);
		@include transition(all 0.2s ease-in-out);

		#navContainer {
			display: table-cell;
			vertical-align: middle;
			text-align: center;


			h2 {
				font-family: $heading;
				font-weight: 200;
				text-transform: uppercase;
				color: white;
				border-bottom: 3px solid $charcoal;
				padding-bottom: .25em;
				max-width: 80%;
				text-align: left;
				margin: 0 auto .5em;
				font-size: 1.4em;
			}

			#siteNav {
				max-width: 80%;
				margin: 0 auto;
				text-align: left;
				padding: 0;

				li {
					@include transition(all 0.2s ease-in-out);
					list-style: none;
					border-bottom: 2px dotted $charcoal;
					font-style: italic;
					color: cadetblue;
					padding: .5em 0;

					a {
						color: cadetblue;
						font-size: 1em;
						font-family: $serif;
						font-style: italic;
						display: block;
					}

					&:hover a {
						color: lighten(cadetblue, 20%);
						text-decoration: none;
					}

					ul {
						float: right;
						line-height: 1;

						li {
							line-height: 1;
							border: none;
							display: inline-block;
							font-size: 1.5em;
							padding: 0;
						}
					}
				}
			}
		}

		.closeBtn {
			position: absolute;
			top: .55em;
			right: .55em;
			font-size: 2em;
			color: tomato;

			&:hover { text-decoration: none; }
		}
	}

#mainNav:target {
	bottom: 0;
	opacity: 1;
}


/* FOOTER ------------------------------------------------
------------------------------------------------------------*/

footer {
	clear: both;
	background: darken(white, 7%); 
	padding: 1.5em;
	position: relative;
	z-index: 5;

	#footer_wrap { @include outer-container; }

	.colophon {
		@include span-columns(12); 

		h6 {
			margin-top: 0;
			font-family: $sans-serif;
			font-weight: 300;
		}

		p { font-size: .8em; }

		a {
			color: cadetblue;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
				color: darken(cadetblue, 25%);
			}
		}
	}

	.copyright {
		@include span-columns(12);
		text-align: left;

		.social {
			width: 100%;
			margin-top: 1em;
			-webkit-transition: .2s all ease-in-out;
			-moz-transition: .2s all ease-in-out;
			-ms-transition: .2s all ease-in-out;
			-o-transition: .2s all ease-in-out;
			transition: .2s all ease-in-out;

			a {
				text-decoration: none;
				font-size: 1.5em;
				color: $blue;

				&:hover {
					color: lighten($blue, 25%);
					text-decoration: none;
				}
			}
		}
	}
}


/* HOMEPAGE ------------------------------------------------
------------------------------------------------------------*/
html {
	height: 100%;
	width :100%;

	.home {
		height: 100%;
		width: 100%;
		background: url('../img/bg-river-dark-small.jpg')  no-repeat scroll center center ;
		background-size: cover;

		#craftsman {
			padding: 4em 1em;

			.intro {
				@include span-columns(12);
				float: none;
				font-size: 1.75rem;
				font-family: $sans-serif;
				font-weight: 200;
				margin-bottom: 1em;
				opacity: 0;

				&.animated {
					animation-duration: 2s;
				}
			}
			
			.aboutText {
				opacity: 0;
				@include outer-container();

				p {
					@include span-columns(12);
					float: none;
					font-size: .9em;
					color: lighten($charcoal, 10%);
				}
				
				&.animated {
					animation-duration: 2s;
				}
			}


		}

		#dribbble {

			h2 {
				opacity: 0;
				font-family: $heading;
				font-weight: 200;
				text-transform: uppercase;
				text-align: center;
			}
			
			#portfolio {
				padding: 0 0 2em;
				opacity: 0;
				width: 100%;
				@include outer-container();

				li {
					@include span-columns(12);
					list-style: none;
					margin: 0;
					position: relative;
					display: block;
					margin: 0;

					img {
						width: 100%;
						height: auto;
						display: block;
					}

					.overlay { 
						opacity: 0;
						position: absolute;
						top: 0;
						left: 0;
						text-align: center;
						background: rgba(234,76,137,.7);
						width: 100%;
						height: 100%;
						color: white;
						z-index: 100;
						-webkit-transition: .5s all ease-in-out;
						-moz-transition: .5s all ease-in-out;
						-ms-transition: .5s all ease-in-out;
						-o-transition: .5s all ease-in-out;
						transition: .5s all ease-in-out;

						.overlayText {
							position: relative;
							top: 50%;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
						}

						h3 {
							color: white;
							font-family: $sans-serif;
							font-weight: 200;
							text-transform: none;

							a {
								color: white;
								text-decoration: none;
							}
						}

						p {
							span {
								margin-left: .25em;
							}

							font-size: 1.5em;
							margin-bottom: 0;
							color: white;
						}
					}

					&:hover .overlay {
						opacity: 1;
					}
				}
			}
		}

		section {

			ul {
				width: 80%;
				margin: 0 auto;
			}

			.introText {
				text-align: center;
				padding: 0 5%;

				h1 {
					font-family: $heading;
					text-transform: uppercase;
					font-weight: 200;
					margin: 0 auto;
					line-height: .8;
					font-size: 2em;
					color: white;
					animation-delay: 1s;
					-moz-animation-delay: 1s;
					-o-animation-delay: 1s;
					-webkit-animation-delay: 1s;
				}

				h2 {
					font-family: $serif;
					text-transform: none;
					font-style: italic;
					color: darken(white, 20%);
					font-weight: 300;
					position: relative;
					font-size: .8em;
					animation-delay: 1.2s;
					-moz-animation-delay: 1.2s;
					-webkit-animation-delay: 1.2s;
					-o-animation-delay: 1.2s;
					display: inline-block;
					line-height: 1.4;
					padding: 0 5%;
				}

				a {
					position: absolute;
					bottom: 1em;
					left: 50%;
					animation-iteration-count: infinite;
					animation-delay: 2.5s;
					-moz-animation-delay: 2.5s;
					-webkit-animation-delay: 2.5s;
					-o-animation-delay: 2.5s;
					font-size: .9em;
					outline: none;

					span { color: white; }

					&:hover { text-decoration: none; }
				}
			}
		}
	}
}


/* PAGE STYLES ----------------------------------------------------
------------------------------------------------------------*/

.pageTitle {
	border-bottom: 3px solid darken(white, 10%);
	font-family: $heading;
	font-weight: 200;
	text-transform: uppercase;
	padding-bottom: .25em;
	line-height: 1.1;
}


/* ARTICLES ----------------------------------------------------
------------------------------------------------------------*/

.blog {

	header {
		background: none;

		#logo {
			a {
				color: $blue;
				text-shadow: none;
			}
		}

		#menuBtn {
			color: $blue;
			text-shadow: none;
		}

		&.slideDown.headroom--not-top {
			#logo {
				a {
					color: white;
				}
			}

			#menuBtn {
				color: white;
			}
		}
	}

	#container .content {
		padding-top: 2em;
	}

	ul {
		padding: 0;

		li {
			list-style-type: none;
			padding: 1em 0;

			h2 {
				text-transform: none;

				a {
					font-family: $serif;
					font-style: italic;
					margin-bottom: .2em;
					font-size: 1.6em;
					font-weight: 600;
				}
			}
		}
	}
}

.date {
	font-family: $sans-serif;
	font-weight: 200;
	text-transform: uppercase;
	color: darken(white, 40%);
	margin-top: 0;
	margin-bottom: .5em;
}


/* TAG PAGES ------------------------------------------------
------------------------------------------------------------*/

.archive {

	.archiveList {
		list-style: none;
	}

	header {
		background: none;

		#logo {
			a {
				color: $blue;
				text-shadow: none;
			}
		}

		#menuBtn {
			color: $blue;
			text-shadow: none;
		}
	}
}


/* POSTSTYLES ------------------------------------------------
------------------------------------------------------------*/

.post-title {
	font-family: $serif;
	font-weight: bold;
	text-transform: none;
	font-style: italic;
	margin: 0 auto .5em;
	width: 90%;
	text-align: center;
	position: relative;
	padding-bottom: .5em;
	line-height: 1.2em;

	&:after {
		display: block;
		width: 100px;
		content: "";
		height: 2px;
		background: darken(white, 10%);
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -50px;
	}
}

.post-content {
	@include span-columns(12);

	img { max-width :100%; }
	p { line-height: 1.9; }

	> p:first-of-type {
		font-family: $sans-serif;
		font-weight: 300;
		font-size: 1.3rem;
		line-height: 1.6167;
		margin-bottom: 2rem;
	}

	.socialcount {
		text-align: center;
		margin: 3em 0 4em;

		> li {
			background-color: $blue;

			&:hover a {
				padding: 0;
				margin: 0;
				background: none;
			}
		}
	}
}

.featured-image {
	min-height: 200px;
	width: 100%;
	z-index: 1;
	display: block;
	background-size: cover;
	background-position: center;
	position: fixed;
	top: 0;
	left: 0;
}

.post {

	header {
		z-index: 100;
	}

	.postNav {
		border-top: 1px dashed darken(white, 20%);
		border-bottom: 1px dashed darken(white, 20%);
		padding: 1em 0;
		margin-bottom: 2em;

		@include outer-container();

		#prev {
			@include span-columns(12);

			strong {
				color: $charcoal;
			}

			&:hover { text-decoration: none; }
		}

		#next {
			float: right;
			text-align: right;
		}
	}

	.date {
		text-align: center;
		margin-bottom: 1em;
	}

	#container {
		background: white;
		z-index: 90;
		position: relative;
		padding-top: 2em;
		margin-top: 5em;
		padding-bottom: 50px;
		overflow: visible;
	}

	.featured-color {
		min-height: 50%;
		width: 100%;
		z-index: 1;
		display: block;
		background: $blue;
		position: fixed;
		top: 0;
		left: 0;
	}

	#logo {
		a {
			color: white;
		}
	}

	#menuBtn {
		color: white;
	}

}


/* SHARING */

.share {
	margin-bottom: 2rem;
	text-align: center;

	a {
		@include button-outline($blue);
		font-size: 1em;
	}
}


/* POST WITH AN IMAGE */

.post-image {

	header {
		z-index: 100;
	}

	#container {
		padding-top: 2em;
		background: white;
		margin-top: 200px;
		padding-bottom: 50px;
		position: relative;
		z-index: 90;
		overflow: visible;
	}


}



/* ART DIRECTED POSTS ----------------------------------------------------
------------------------------------------------------------*/

.style-guide {

	.colors {
		div {
			display: block;
			position: relative;
			padding-top: 3em;
			margin-bottom: 1rem;

			&:before {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 3em;
				content: "";
				background: $blue;

			}

			&.cadetblue:before { background: cadetblue; }
			&.khaki:before { background: khaki; }
			&.darkkhaki:before { background: darkkhaki; }
		}
	}

	.univers {
		font-family: $sans-serif;

		span { display: block; }
		.light { font-weight: 100; }
		.condensedLight { font-weight: 100; }
		.condensedUltra {
			font-family: $heading;
			font-weight: 400; }
		.condensedUltraLight {
			font-family: $heading;
			font-weight: 300;
		}
	}


	.univers, .nimrod {
		font-size: 1.3rem;
	}
}



/* ABOUT ------------------------------------------------
------------------------------------------------------------*/

.about {
	#container {
		background: white;
		position: relative;
		z-index: 200;
		padding: 40px 20px;
		margin-top: 200px;
	}
	.content {
		h1 {
			font-family: $heading;
			text-transform: uppercase;
			font-weight: 200;
		}

		h4 { font-style: italic; }
	}
}



/* PORTFOLIO INDEX ------------------------------------------------


.portfolio {
	.project {
		@include outer-container();
		max-width: 100%;
		padding: 2em 1em;
		height: 20em;
		overflow: hidden;
		border-bottom: 3px solid darken(white, 10%);
		background-size: cover;
		background-repeat: no-repeat;

		&.inebriated {
			background-image: url('../img/portfolio/inebriated/inebriated-bg.png');
			.projectTitle a, p { color: white; }
			.projectLeft .button { @include button-outline(#303030); }
		}

		&.bombshell {
			@include linear-gradient(#ece4d9, #e3e1d4, #e3dfd5);
			.projectTitle a, p { color: #41404A; }
			.projectLeft .button { @include button-outline(#41404A); }

		}

		&.rajiv {
			@include linear-gradient(#4575B9, #3F6EB4, #325DA7, #1E4592);
			.projectTitle a, p { color: white; }
			.projectLeft .button { @include button-outline(#3F6EB4); }
		}

		&.colors {
			background-image: url('../img/portfolio/147colors/147colors-bg.png');
			.projectTitle a, p { color: white; }
		}


		.projectLeft {
			@include span-columns(7);
			position: relative;
			  top: 50%;
			  @include transform(translateY(-50%));

			.projectTitle {
				font-style: italic;
				font-weight: bold;
				font-size: 1.8em;
				margin-bottom: .5em;
				line-height: 1.375;
			}

			p {
				display: none;
			}
		}

		.projectRight {
			@include span-columns(5);

			&.already-visible {
				animation: none;
			}



		}
	}
}

------------------------------------------------------------*/
