/* GLOBAL ---------------------------------------------------
------------------------------------------------------------*/

/* apply a natural box layout model to all elements */
*, *:before, *:after { @include box-sizing(border-box); }

 ::selection {
 	color: white;
 	background: cadetblue;
 }

 ::-moz-selection {
 	color: white;
 	background: cadetblue;
 }

 blockquote {
 	font-family: $serif;
 	font-style: italic;
 	margin-bottom: 1em;
 	line-height: 2;
 	font-size: 1.3em;
 }

body {
	font-family: $serif;
	background: white;
	color: $charcoal;

	h1, h2, h3, h4, h5, h6 {
		font-family: $serif;
		font-weight: 700;
		margin-top: .2em;
	}

	p {
		color: $charcoal;
	}

	a { 
		text-decoration: none;
		color: darken(cadetblue, 10%);
	}

	ul { padding: 0; }

	#container {
		clear: both;
		padding: 100px 20px 40px;
		overflow: hidden;
		@include outer-container;

		img {
			max-width: 100%;
		}
	}
	
	.table {
		height: 100%;
		width: 100%;
		display: table;
	}

	.tableCell {
		display: table-cell;
		vertical-align: middle;
		height: 100%;
	}
}


/* HEADER ---------------------------------------------------
------------------------------------------------------------*/

header {
	overflow: hidden;
	padding: 0 20px 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	#menuBtn {
		float: right;
		margin-top: .1em;
		font-size: 2em;
		color: $charcoal;
	}

	#logo {
		float: left;
		font-family: $ultra-condensed;
		text-transform: uppercase;
		font-weight: 200;
		font-size: 1.5em;
		margin-top: .7em;

		a { color: $charcoal; }

	}
}


/* NAVIGATION ------------------------------------------------
------------------------------------------------------------*/

#mainNav {
		display: table;
		bottom: 100%;
		opacity: 0;
		position: fixed;
		z-index: 9999;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.95);
		@include transition(all 0.2s ease-in-out);

		#navContainer {
			display: table-cell;
			vertical-align: middle;
			text-align: center;


			h2 {
				color: white;
				border-bottom: 3px solid $charcoal;
				padding-bottom: .25em;
				max-width: 80%;
				text-align: left;
				margin: 0 auto .5em;
				font-size: 1.4em;
			}

			#siteNav {
				max-width: 80%;
				margin: 0 auto;
				text-align: left;

				li {
					@include transition(all 0.2s ease-in-out);
					list-style: none;
					border-bottom: 2px dotted $charcoal;
					font-style: italic;
					color: cadetblue;
					padding: .5em 0;

					

					a {
						color: cadetblue;
						font-size: 1em;
						font-family: $serif;
						font-style: italic;
					}

					&:hover a { color: lighten(cadetblue, 10%); }

					ul {
						float: right;

						li {
							border: none;
							display: inline;
							font-size: 1.5em;
						}
					}
				}
			}
		}

		.closeBtn {
			position: absolute;
			top: .1em;
			right: .55em;
			font-size: 2em;
		}
	}

#mainNav:target {
	bottom: 0;
	opacity: 1;
}



/* COLOPHON ------------------------------------------------
------------------------------------------------------------*/

#colophon {
		display: table;
		color: white;
		top: 100%;
		opacity: 0;
		position: fixed;
		z-index: 9999;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.95);
		@include transition(all 0.2s ease-in-out);

		#colophonContainer {
			display: table-cell;
			vertical-align: middle;
			text-align: center;

			h2, p {
				color: white;
				width: 80%;
				margin: 0 auto;
			}

			h2 {
				margin-bottom: .75em;
				font-style: italic;
			}
		}

		.closeBtn {
			position: absolute;
			top: .1em;
			right: .55em;
			font-size: 2em;
		}
	}

#colophon:target {
	top: 0;
	opacity: 1;
}


/* FOOTER ------------------------------------------------
------------------------------------------------------------*/

footer {
	clear: both;
	background: white;
	color: cadetblue;
	padding: 1.5em;

	a {
		color: cadetblue;
		text-decoration: underline;
	}
}


/* HOMEPAGE ------------------------------------------------
------------------------------------------------------------*/
html {
	height: 100%;
	width :100%;

	.home {
		height: 100%;
		width: 100%;
		background: url('../img/home.jpg') center;
		background-size: cover;
		
		header {
			position: absolute;
			z-index: 300;
			width: 100%;
		}
		section {

			ul {
				width: 80%;
				margin: 0 auto;
			}

			.introText {
				text-align: center;

				h1 {
					margin: 0 auto;
					line-height: 1.15;
					font-size: 2em;
					color: cadetblue;
					animation-delay: 1.8s;
				}

				h2 {
					font-family: $sans-serif;
					color: lighten($charcoal, 10%);
					font-weight: 200;
					position: relative;
					padding-bottom: .25em;
					font-size: 1.8em;
					animation-delay: 1.2s;

					&:after {
						display: block;
						width: 50px;
						content: "";
						height: 2px;
						background: white;
						position: absolute;
						top: 100%;
						left: 50%;
						margin-left: -25px;
					}
				}

				h3 {
					font-family: $serif;
					font-style: italic;
					font-size: 1.2em;
					width: 80%;
					line-height: 1.5;
					margin: .1em auto 0;
					animation-delay: 1.8s;
				}
			}
		}
	}
}


/* ARTICLES ----------------------------------------------------
------------------------------------------------------------*/

.blog {
	
	h2 {
		border-bottom: 3px solid darken(white, 10%);
		font-family: $serif;
		font-weight: bold;
	}

	ul {
		li {
			list-style-type: none;
			padding: 1em 0;

			.date {
				font-family: $condensed;
				font-weight: 400;
				text-transform: uppercase;
				color: darken(white, 40%);
				margin-bottom: 0;
			}

			a {
				font-family: $serif;
				font-style: italic;
				margin-bottom: 1em;
				font-size: 1.6em;
				font-weight: 400;
			}
		}
	}
}


/* POSTSTYLES ------------------------------------------------
------------------------------------------------------------*/

.post-title {
	font-style: italic;
	margin: .25em auto 1em;
	width: 90%;
	text-align: center;
}

.post-content {
	@include span-columns(12);

	img { max-width :100%; }
	p {
		line-height: 1.9;

		&:first-of-type {
			font-family: $sans-serif;
			font-weight: 200;
			font-size: 1.5em;
			line-height: 1.65;
		}
	}

	.socialcount {
		text-align: center;
		margin: 3em 0 4em;

		> li {
			background-color: cadetblue;
		}
	}
}

.featured-image {
	min-height: 400px;
	width: 100%;
	z-index: 1;
	display: block;
	background-size: cover;
	background-position: center;
	position: fixed;
	top: 0;
	left: 0;
}

.featured-color {
	min-height: 400px;
	display: block;
}


/* POST WITH AN IMAGE */

.post-image {

	header {
		z-index: 200;
	}

	#container {
		padding-top: 2em;
		background: white;
		margin-top: 320px;
		padding-bottom: 50px;
		position: relative;
		z-index: 100;
		overflow: visible;
	}

	#logo {
		a {
			color :white;
			text-shadow: 1px 1px 2px rgba(0,0,0,.4);
		}
	}
	#menuBtn {
		color: white;
		text-shadow: 1px 1px 2px rgba(0,0,0,.4);
	}
}


/* ABOUT ------------------------------------------------
------------------------------------------------------------*/

.about {
	.content {
		h1 { font-size: 2em; }
		h4 { font-style: italic; }
	}

	.social {
		a {
			font-size: 1.6em;

			&:hover {
				color: darken(cadetblue, 40%);
			}
		}
	}
}
