/* GENERAL STYLES */

body {
	font-family: $serif;

	h1, h2, h3, h4, h5, h6 {
		font-family: $heading;
	}

	a { 
		text-decoration: none;
		color: goldenrod;
	}

	#container {
		clear: both;
		padding: 0 20px;
	}
}


/* HEADER STYLES */

header {
	background-color: black;
	overflow: hidden;

	#logo {
		@include column(12);
		font-family: $condensed;
		text-transform: uppercase;
	}
	nav {
		@include column(12);

		ul {
			float: right;

			li {
				list-style: none;
				display: inline;
				margin-right: 1em;

				a {
					font-family: $sans-serif;
					text-transform: uppercase;
				}
			}
		}
	}
}


/* POSTSTYLES */

.post {
	@include column(12);
}

/* FOOTER STYLES */

footer {
	@include column(12);
}