/*
Typography - based on Modular Scale and uses rems to up font size at each break point

http://modularscale.com/scale/?px1=18&px2=780&ra1=1.5&ra2=0

*/


html {
	font-size: 100%; /* 16px */
}

body {
	font-size: 1rem;
	line-height: 1.5;
	font-family: $serif;
	color: $charcoal;

	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		font-family: $serif;
		font-weight: 700; 
	}

	h1, .h1 {
		font-size: 2.853rem;
		line-height: 3.75rem;
		margin: 0 0 .75rem;
	}

	h2, .h2 {
		font-size: 2.531rem;
		line-height: 3rem;
		margin: 0 0 .75rem;
	}
	h3, .h3 {
		font-size: 1.902rem;
		line-height: 3rem;
		margin: 0 0 .75rem;
	}
	h4, .h4 {
		font-size: 1.688rem;  
		line-height: 3rem;
		margin: 0 0 .75rem;
	}
	h5, .h5 {
		font-size: 1.268rem;
		line-height: 1.5rem;
		margin: 0 0 .75rem;
	}
	h6, .h6 {
		font-size: 1.125rem;
		line-height: 1.5rem;
		margin: 0 0 .75rem;
	}

	p {
		color: $charcoal;
		margin: 0 0 2rem;
	}
}


