/*

font-family:'DINNextW01-CondensedUlt';
font-family:'Mundo Sans W01 Light';
font-family:'Nimrod W01';
font-family:'Nimrod W01 Italic';
font-family:'Nimrod W01 Bold Italic';
font-family:'Mundo Sans W01';
font-family:'Clarendon BT W01 Roman';
font-family:'Clarendon BT W01 Bold';

azure
lightslategrey
tomato
khaki
sienna
cadetblue


*/


$condensed: 	'DINNextW01-CondensedUlt';
$sans-serif: 	'Mundo Sans W01';
$serif: 		'Nimrod W01';
$heading: 		'Clarendon BT W01 Roman';

