/* Font Families */

$condensed: 		'DIN Next W01';
$ultra-condensed: 	'Univers W01';
$sans-serif: 		'Mundo Sans W01';
$serif: 			'Nimrod W01';
$heading: 			'BT Clarendon W01';


/* Color Palette */

$charcoal: 			lighten(black, 20%);