/*

font-family:'DIN Next W01';
font-family:'Mundo Sans W01';
font-family:'Nimrod W01';
font-family:'PMN Caecilia eText W01';

*/


$condensed: 	'DIN Next W01';
$sans-serif: 	'Mundo Sans W01';
$serif: 		'Nimrod W01';
$heading: 		'PMN Caecilia eText W01';

