@charset "UTF-8";
/***********************************
MAIN STYLE SHEET
***********************************/
/* Normalize that ish */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Typeplate */
/*!
 *
.||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.

	.                                      '||            .
  .||.  .... ... ... ...    ....  ... ...   ||   ....   .||.    ....
   ||    '|.  |   ||'  || .|...||  ||'  ||  ||  '' .||   ||   .|...||
   ||     '|.|    ||    | ||       ||    |  ||  .|' ||   ||   ||
   '|.'    '|     ||...'   '|...'  ||...'  .||. '|..'|'  '|.'  '|...'
		.. |      ||               ||
		 ''      ''''             ''''      A Typographic Starter Kit

  URL ........... http://typeplate.com
  VERSION ....... 1.1.2
  Github ........ https://github.com/typeplate/typeplate.github.io
  AUTHORS ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
  LICENSE ....... Creative Commmons Attribution 3.0
  LICENSE URL ... http://creativecommons.org/licenses/by/3.0

 .||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.
 *
 */
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026; }

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C; }

body {
  word-wrap: break-word; }

pre code {
  word-wrap: normal; }

/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
	@include dropcap($dropcap-float-position, $dropcap-font-size, $dropcap-font-family, $dropcap-txt-indent, $dropcap-margin, $dropcap-padding, $dropcap-color, $dropcap-line-height, $dropcap-bg);
 *
 * Extend this object into your custom stylesheet. Let the variables do the work.
 *
 */
html {
  font: normal 112.5%/1.5 serif; }

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  color: #444444; }

small {
  font-size: 65%; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0; }

.tera {
  font-size: 6.5em;
  margin-bottom: 0.23077em; }

.giga {
  font-size: 5em;
  margin-bottom: 0.3em; }

.mega {
  font-size: 4em;
  margin-bottom: 0.375em; }

.alpha, h1 {
  font-size: 3.33333em;
  margin-bottom: 0.45em; }

.beta, h2 {
  font-size: 2.66667em;
  margin-bottom: 0.5625em; }

.gamma, h3 {
  font-size: 2em;
  margin-bottom: 0.75em; }

.delta, h4 {
  font-size: 1.33333em;
  margin-bottom: 1.125em; }

.epsilon, h5 {
  font-size: 1.16667em;
  margin-bottom: 1.28571em; }

.zeta, h6 {
  font-size: 1em;
  margin-bottom: 1.5em; }

p {
  margin: auto auto 1.5em; }

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none; }

pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap; }

pre {
  white-space: pre; }

code {
  white-space: pre;
  font-family: monospace; }

/**
 * Abbreviations Markup
 *
	<abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray; }
  abbr[title]:hover {
    cursor: help; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222; }

p + .drop-cap {
  text-indent: 0;
  margin-top: 0; }

.drop-cap:first-letter {
  float: left;
  margin: inherit;
  padding: inherit;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit; }

/**
 * Lining Definition Style Markup
 *
	<dl class="lining">
		<dt><b></b></dt>
		<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.lining dt,
.lining dd {
  display: inline;
  margin: 0; }
.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre; }
.lining dd + dd:before {
  content: ", "; }
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem; }

/**
 * Dictionary Definition Style Markup
 *
	<dl class="dictionary-style">
		<dt><b></b></dt>
			<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions; }
  .dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2rem; }
.dictionary-style dd {
  display: block;
  counter-increment: definitions; }
  .dictionary-style dd:before {
    content: counter(definitions,decimal) ". "; }

/**
 * Blockquote Markup
 *
		<figure>
			<blockquote cite="">
				<p></p>
			</blockquote>
			<figcaption>
				<cite>
					<small><a href=""></a></small>
				</cite>
			</figcaption>
		</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.pull-quote {
  position: relative;
  padding: 1em; }
  .pull-quote:before, .pull-quote:after {
    height: 1em;
    opacity: 0.5;
    position: absolute;
    font-size: 4em;
    color: #dc976e; }
  .pull-quote:before {
    content: '“';
    top: 0;
    left: 0; }
  .pull-quote:after {
    content: '”';
    bottom: 0;
    right: 0; }

/**
 * Figures Markup
 *
	<figure>
		<figcaption>
			<strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
		</figcaption>
	</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
	<article>
		<p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
		<footer>
			<ol class="foot-notes">
				<li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
			</ol>
		</footer>
	</article>
 *
 * Extend this object into your markup.
 *
 */
/* Icons vis IcoMoon */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-list:before {
  content: "\e600"; }

.icon-pencil:before {
  content: "\e601"; }

.icon-twitter:before {
  content: "\e602"; }

.icon-github:before {
  content: "\e603"; }

.icon-dribbble:before {
  content: "\e604"; }

.icon-linkedin:before {
  content: "\e605"; }

.icon-cross:before {
  content: "\e606"; }

/* CSS Animations from https://daneden.me/animate/ */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

.animated.hinge {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px); }

  100% {
    -webkit-transform: translateX(0); } }

@-moz-keyframes slideInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px); }

  100% {
    -moz-transform: translateX(0); } }

@-o-keyframes slideInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px); }

  100% {
    -o-transform: translateX(0); } }

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px); }

  100% {
    transform: translateX(0); } }

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  -moz-animation-name: slideInLeft;
  -o-animation-name: slideInLeft;
  animation-name: slideInLeft; }

@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px); }

  100% {
    transform: translateY(0); } }

.slideInDown {
  animation-name: slideInDown; }

/* Variables */
/* Font Families */
/* Color Palette */
/* Bourbon */
/* Neat */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Base Stylesheet for Small Screens MOBILE FIRST DUMMY! */
/* GLOBAL ---------------------------------------------------
------------------------------------------------------------*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::selection {
  color: white;
  background: cadetblue; }

::-moz-selection {
  color: white;
  background: cadetblue; }

blockquote {
  font-family: "Nimrod W01";
  font-style: italic;
  margin-bottom: 1em;
  line-height: 2;
  font-size: 1.3em; }

body {
  font-family: "Nimrod W01";
  background: white;
  color: #333333; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Nimrod W01";
    font-weight: 700;
    margin-top: .2em; }
  body p {
    color: #333333; }
  body a {
    text-decoration: none;
    color: #4c7e80; }
  body ul {
    padding: 0; }
  body #container {
    clear: both;
    padding: 100px 20px 40px;
    overflow: hidden;
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    body #container:before, body #container:after {
      content: " ";
      display: table; }
    body #container:after {
      clear: both; }
    body #container img {
      max-width: 100%; }
  body .table {
    height: 100%;
    width: 100%;
    display: table; }
  body .tableCell {
    display: table-cell;
    vertical-align: middle;
    height: 100%; }

/* HEADER ---------------------------------------------------
------------------------------------------------------------*/
header {
  overflow: hidden;
  padding: 0 20px 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  header #menuBtn {
    float: right;
    margin-top: .1em;
    font-size: 2em;
    color: #333333; }
  header #logo {
    float: left;
    font-family: "Univers W01";
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.5em;
    margin-top: .7em; }
    header #logo a {
      color: #333333; }

/* NAVIGATION ------------------------------------------------
------------------------------------------------------------*/
#mainNav {
  display: table;
  bottom: 100%;
  opacity: 0;
  position: fixed;
  z-index: 9999;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  #mainNav #navContainer {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    #mainNav #navContainer #siteNav li {
      padding-bottom: .5em;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      list-style: none; }
      #mainNav #navContainer #siteNav li a {
        color: cadetblue;
        font-size: 2.5em;
        font-family: "Nimrod W01";
        font-style: italic; }
      #mainNav #navContainer #siteNav li:hover a {
        color: #7fb1b3; }
  #mainNav .closeBtn {
    position: absolute;
    top: .1em;
    right: .55em;
    font-size: 2em; }

#mainNav:target {
  bottom: 0;
  opacity: 1; }

/* COLOPHON ------------------------------------------------
------------------------------------------------------------*/
#colophon {
  display: table;
  color: white;
  top: 100%;
  opacity: 0;
  position: fixed;
  z-index: 9999;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  #colophon #colophonContainer {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    #colophon #colophonContainer h2, #colophon #colophonContainer p {
      color: white;
      width: 80%;
      margin: 0 auto; }
    #colophon #colophonContainer h2 {
      margin-bottom: .75em;
      font-style: italic; }
  #colophon .closeBtn {
    position: absolute;
    top: .1em;
    right: .55em;
    font-size: 2em; }

#colophon:target {
  top: 0;
  opacity: 1; }

/* FOOTER ------------------------------------------------
------------------------------------------------------------*/
footer {
  clear: both;
  background: white;
  color: cadetblue;
  padding: 1.5em; }
  footer a {
    color: cadetblue;
    text-decoration: underline; }

/* HOMEPAGE ------------------------------------------------
------------------------------------------------------------*/
html {
  height: 100%;
  width: 100%; }
  html .home {
    height: 100%;
    width: 100%;
    background: url("../img/home.jpg") center;
    background-size: cover; }
    html .home header {
      position: absolute;
      z-index: 300;
      width: 100%; }
    html .home section ul {
      width: 80%;
      margin: 0 auto; }
    html .home section .introText {
      animation-delay: 1s;
      text-align: center; }
      html .home section .introText h1 {
        margin: 0 auto;
        line-height: 1.15;
        font-size: 2em;
        color: cadetblue; }
      html .home section .introText h2 {
        font-family: "Mundo Sans W01";
        color: #4d4d4d;
        font-weight: 200;
        position: relative;
        padding-bottom: .25em; }
        html .home section .introText h2:after {
          display: block;
          width: 50px;
          content: "";
          height: 2px;
          background: white;
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -25px; }
      html .home section .introText h3 {
        font-family: "Nimrod W01";
        font-style: italic;
        font-size: 1.2em;
        width: 80%;
        line-height: 1.5;
        margin: .1em auto 0; }

/* ARTICLES ----------------------------------------------------
------------------------------------------------------------*/
.blog h2 {
  border-bottom: 3px solid #e6e6e6;
  font-family: "Nimrod W01";
  font-weight: bold; }
.blog ul li {
  list-style-type: none;
  padding: 1em 0; }
  .blog ul li .date {
    font-family: "DIN Next W01";
    font-weight: 400;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 0; }
  .blog ul li a {
    font-family: "Nimrod W01";
    font-style: italic;
    margin-bottom: 1em;
    font-size: 1.6em;
    font-weight: 400; }

/* POSTSTYLES ------------------------------------------------
------------------------------------------------------------*/
.post-title {
  font-style: italic;
  margin: .25em auto 1em;
  width: 80%;
  text-align: center; }

.post-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .post-content:last-child {
    margin-right: 0; }
  .post-content img {
    max-width: 100%; }
  .post-content p {
    line-height: 1.9; }
    .post-content p:first-of-type {
      font-family: "Mundo Sans W01";
      font-weight: 200;
      font-size: 1.5em;
      line-height: 1.65; }
  .post-content .socialcount {
    text-align: center;
    margin: 3em 0 4em; }
    .post-content .socialcount > li {
      background-color: cadetblue; }

.featured-image {
  min-height: 400px;
  width: 100%;
  z-index: 1;
  display: block;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0; }

.featured-color {
  min-height: 400px;
  display: block; }

/* POST WITH AN IMAGE */
.post-image header {
  z-index: 200; }
.post-image #container {
  padding-top: 2em;
  background: white;
  margin-top: 320px;
  padding-bottom: 50px;
  position: relative;
  z-index: 100;
  overflow: visible; }
.post-image #logo a {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); }
.post-image #menuBtn {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); }

/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*/
/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 768px) {
  .post-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    .post-content:last-child {
      margin-right: 0; }

  .post #container {
    width: 80%;
    max-width: 80%; }

  .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    .content:last-child {
      margin-right: 0; }

  html .home .intro .introText h1 {
    font-size: 6em; }
  html .home .intro .introText h3 {
    font-size: 1.75em; } }
/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
  /***************************************************************
  Print Stylesheet
  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }
