{% include head.html %}

<div id="container">
	<div class="content">
		<h2>Recent Posts</h2>
		<ul>
		  {% for post in site.posts %}
		    <li class="icon-pencil">

				<p class="date">{{ post.date | date: "%b %d, %Y" }}</p>
				<a href="{{ post.url }}">{{ post.title }}</a>
				<p>{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 200 }}{% endif %}</p>
		    </li>
		  {% endfor %}
		</ul>
	</div>
</div>

{% include footer.html %}