{% include head.html %}

<section class="intro table">
	<div class="introText tableCell">
		{{ content }}
	</div>
</section>

 <section id="craftsman" class="about">
 	<p class="intro">
 		Hello, I'm Brian! I'm a designer/front-end devevloper that adheres to simplicity and usability. I'm a sucker for hand-lettering, typography and long walks on the beach.
 	</p>
	<div class="aboutText">
		<p>
			It's true. I am able to craft amazing creations digitally using the many tricks and tools that I have discovered throughout the past 5+ years designing. If you would like to see some examples you can <a href="mailto:brimaidesigns@gmail.com">email me</a> or check out what I am working on now below.
		</p>
		<p>
			I currently am the Lead Designer at <a href="http://dbswebsite.com" target="_blank">DBS Interactive</a> where we produce astounding websites and interactive infographics. I'm not currently accepting work but please feel free to connect with me through various social networks. Enjoy!
		</p>
	</div>

</section>

<section id="dribbble" data-0="opacity:0;" data-50p-top="opacity:1;">
	<h2>What I'm Working On...</h2>
	<ul id="portfolio"></ul>
</section>

{% include footer.html %}