{% include head.html %}

<section class="intro table">
	<div class="introText tableCell">
		{{ content }}
	</div>
</section>

 <section id="craftsman" class="about table">
	<div class="tableCell">
		<div class="aboutText">
			<h2>A digital craftsmen, eh?</h2>
			<br />
			<p>It's true. I am able to craft amazing creations digitally using many tools that I have discoverd throughout the past 5 years. If you would like to see some examples you can <a href="mailto:brimaidesigns@gmail.com">email me</a> or check out what I am working on now <a href="#dribbble">here</a>.</p>
		</div>
	</div>
</section>

<!--<section id="dribbble" class="table">
	<div class="tableCell">
		<div class="dribbbleText">
			<h2>Currently working on...</h2>
			<ul id="portfolio"></ul>
		</div>
	</div>
</section>-->

{% include footer.html %}