{% include head.html %}

<div id="container">
	<div class="content">
		<h2 class="pageTitle">{{ page.title }}</h2>
		{{ content }}
	</div>
</div>

<section class="project bombshell">
	<div class="projectLeft">
		<h2 class="projectTitle"><a href="">Body Bombshell</a></h2>
		<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
		<a href="" class="button">View Project</a>
	</div>
	<div class="projectRight animated">
		<img src="/assets/img/portfolio/bombshell/bodybombshell-imac.png" alt="">
	</div>
</section>

<section class="project inebriated">
	<div class="projectLeft">
		<h2 class="projectTitle"><a href="">Inebriated Labels</a></h2>
		<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
		<a href="" class="button">View Project</a>
	</div>
	<div class="projectRight animated">
		<img src="/assets/img/commuter.png" alt="">
	</div>
</section>

<section class="project rajiv">
	<div class="projectLeft">
		<h2 class="projectTitle"><a href="">Rajiv Satyal - The Funny Indian</a></h2>
		<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
		<a href="" class="button">View Project</a>
	</div>
	<div class="projectRight animated">
		<img src="/assets/img/portfolio/rajiv/rajiv-imac.png" alt="">
	</div>
</section>

<section class="project diets">
	<div class="projectLeft">
		<h2 class="projectTitle"><a href="">Diets are Fattening Logo</a></h2>
		<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
		<a href="" class="button">View Project</a>
	</div>
	<div class="projectRight animated">
		<img src="/assets/img/commuter.png" alt="">
	</div>
</section>

<section class="project colors">
	<div class="projectLeft">
		<h2 class="projectTitle"><a href="">147 Colors</a></h2>
		<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
		<a href="" class="button">View Project</a>
	</div>
	<div class="projectRight animated">
		<img src="/assets/img/portfolio/147colors/147-imac.png" alt="">
	</div>
</section>

{% include footer.html %}