{% include head.html %}

<div id="container">
	<div class="content">
		<h2 class="pageTitle">{{ page.title }}</h2>
		{{ content }}
	</div>
</div>

<section class="project">
	<div class="projectLeft">
		<h2 class="projectTitle"><a href="">Commuter Creative</a></h2>
		<p>Commuter Creative is my personal brand and experimental playground. The splash page was created using CSS animations.</p>
		<a href="" class="button">View Project</a>
	</div>
	<div class="projectRight animated">
		<img src="/assets/img/commuter.png" alt="">
	</div>
</section>

<section class="project">
	<div class="projectLeft">
		<h2 class="projectTitle"><a href="">Commuter Creative</a></h2>
		<p>Commuter Creative is my personal brand and experimental playground. The splash page was created using CSS animations.</p>
		<a href="" class="button">View Project</a>
	</div>
	<div class="projectRight animated">
		<img src="/assets/img/commuter.png" alt="">
	</div>
</section>

<section class="project">
	<div class="projectLeft">
		<h2 class="projectTitle"><a href="">Commuter Creative</a></h2>
		<p>Commuter Creative is my personal brand and experimental playground. The splash page was created using CSS animations.</p>
		<a href="" class="button">View Project</a>
	</div>
	<div class="projectRight animated">
		<img src="/assets/img/commuter.png" alt="">
	</div>
</section>

{% include footer.html %}